{# _form_section.html #}
<form id="page-{{ section.id }}" class="survey-page" data-page="{{ section.id }}">
    {% for question in section.questions %}
    {% if question.type == 'select' %}
    {% include '_selection_question.html' %}
    {% elif question.type == 'number' %}
    {% include '_numeric_question.html' %}
    {% elif question.type == 'yesno' %}
    {% include '_yes_no_question.html' %}
    {% endif %}
    {% endfor %}

    <div class="flex mt-8 {% if section.id == 1 %}justify-end{% else %}justify-between{% endif %}">
        {% if section.id > 1 %}
        <div class="flex items-center">
            <button type="button"
                class="back-btn bg-white text-gray-700 border-2 border-sky-600 hover:bg-sky-600 hover:text-white font-bold py-1 px-4 rounded-lg focus:outline-none focus:shadow-outline">
                Back
            </button>
        </div>
        {% endif %}

        <div class="flex items-center">
            <button type="submit"
                class="{% if section.id == questions.sections|length %}submit-btn{% else %}next-btn{% endif %} bg-white text-gray-700 border-2 border-sky-600 hover:bg-sky-600 hover:text-white font-bold py-1 px-4 rounded-lg focus:outline-none focus:shadow-outline">
                {% if section.id == questions.sections|length %}Submit{% else %}Next{% endif %}
            </button>
        </div>
    </div>
</form>