{% extends "layout.html" %}

{% block title %}Healthcare Survey{% endblock %}

{% block content %}
<div class="w-full max-w-3xl bg-white shadow-md rounded px-8 pt-6 pb-8 mt-4 mb-4">
    <h1 class="text-2xl text-gray-700 font-bold mb-6 text-center">Healthcare Survey</h1>

    <div id="healthSurveyForm">
        {% include '_general_health_section.html' %}
        {% include '_health_mobility_section.html' %}
        {% include '_health_substance_section.html' %}
        {% include '_medical_history_section.html' %}
        {% include '_medical_conditions_section.html' %}
    </div>
</div>
{% endblock %}